.post {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DDD;
    position: relative;

    h2 {
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .source {
        color: #888;
        margin: 0;
    }

    img {
        width: 100%;
    }
}

.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    div {
        margin: 10px 20px 0 20px;
    }

    button {
        border-radius: 8px;
        border: none;
        height: 40px;
        padding: 0 15px 0 15px;
        background-color: #CCC;
    }

    .active {
        cursor: pointer;
    }

    .disabled {
        cursor: not-allowed;
        color: rgb(179,179,179);
    }
}